@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@using Umbraco.Cms.Core.Routing
@using Umbraco.Extensions

@inject IPublishedUrlProvider PublishedUrlProvider

@{ var selection = Model.Ancestors().ToArray(); }

@if (selection?.Length > 0)
{

    <section class="showcase breadcrumb">
        <img class="bottom-left-image" src="images/background-lines.svg" alt="">
            <div class="container">
                <div class="content">
                    @foreach (var item in selection.OrderBy(x => x.Level))
                    {
           
                        <a href="@item.Url(PublishedUrlProvider)">@item.Name</a>
                    
                    }
                    <span>@Model.Name</span>
                    <h1>@Model.Value("pageTitle")</h1>
                </div>
            </div>
    </section>


}