@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage

    <!-- footer -->

    <footer>
        <section class="footer-section">
            <img class="background-lines-white-right" src="~/static/background-effects/background-lines-right.svg" alt="">
            <div class="container">
                <div class="logo">
                    <img src="~/static/logotypes/logotype-white.svg" alt="">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat obcaecati voluptas voluptates! Voluptates laborum nam ratione minus necessitatibus, iure praesentium.</p>
                </div>

                <div>
                    <h5>Company</h5>
                    <ul>
                        <li><a href="/about">About</a></li>
                        <li><a href="/Features">Features</a></li>
                        <li><a href="/Works">Works</a></li>
                        <li><a href="/Career">Career</a></li>
                    </ul>

                </div>

                <div>
                    <h5>Help</h5>
                    <ul>
                        <li><a href="/Customer Support">Customer Support</a></li>
                        <li><a href="/Delivery Details">Delivery Details</a></li>
                        <li><a href="/Teams & Conditions">Teams & Conditions</a></li>
                        <li><a href="/Privacy Policy">Privacy Policy</a></li>
                    </ul>

                </div>

                <div>
                    <h5>Resources</h5>
                    <ul>
                        <li><a href="/Free eBooks">Free eBooks</a></li>
                        <li><a href="/Development Tutorial">Development Tutorial</a></li>
                        <li><a href="/How to - Blog">How to - Blog</a></li>
                        <li><a href="/Youtube Playlist">Youtube Playlist</a></li>
                    </ul>

                </div>

                <div>
                    <h5>Link</h5>
                    <ul>
                        <li><a href="/Free eBooks">Free eBooks</a></li>
                        <li><a href="/Development Tutorial">Development Tutorial</a></li>
                        <li><a href="/How to - Blog">How to - Blog</a></li>
                        <li><a href="/Youtube Playlist">Youtube Playlist</a></li>
                    </ul>

                </div>

            </div>
        </section>

        <section class="copyright-section">
            <div class="container">
                <div>© @DateTime.Now.Year Crito - Consulting Company Inc. All Rights Reserved.</div>
                <div class="social-media">
                    <a href="https://facebook.com" target="_blank"><i class="fa-brands fa-facebook"></i></a>
                    <a href="https://twitter.com" target="_blank"><i class="fa-brands fa-twitter"></i></a>
                    <a href="https://instagram" target="_blank"><i class="fa-brands fa-instagram"></i></a>
                    <a href="https://linkedin" target="_blank"><i class="fa-brands fa-linkedin"></i></a>

                </div>
            </div>
        </section>
    </footer>
